<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src = '/components/Chair/makeConference.js'></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        *[role="form"] {
            max-width: 600px;
            padding: 15px;
            margin: 0 auto;
            background-color: #fff;
            border-radius: 0.3em;
        }
        *[role="form"] h2 {
            margin-left: 5em;
            margin-bottom: 1em;
        }
    </style>
</head>
<ul class="nav nav-tabs">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="http://localhost:3500/ConferenceManagement/home"><span class="glyphicon glyphicon-home"></span></a>
        </div>
        <ul class="nav navbar-nav" style="color: white">
            <li><a href="http://localhost:3500/ConferenceManagement/myprofile">{{user.Name}}</a></li>
            <li ng-if = 'user.Author'><a href="http://localhost:3500/ConferenceManagement/author/submissions">Submissions</a></li>
            <li ng-if = 'user.Reviewer'><a href="http://localhost:3500/ConferenceManagement/reviewer/reviewfiles">ReviewFiles</a></li>
            <li class = 'active' ng-if = 'user.Chair'><a href="http://localhost:3500/ConferenceManagement/chair/myconferences">Myconferences</a></li>
            <li ng-if = 'user.Chair'><a href="http://localhost:3500/ConferenceManagement/chair/makeconference">MakeConference</a></li>
            <li ng-if = 'user.Chair'><a href="http://localhost:3500/ConferenceManagement/chair/allconferences">AllConferences</a></li>
        </ul>


        <ul class="nav navbar-nav navbar-right">

            <li><a href="http://localhost:3500/ConferenceManagement/user/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        </ul>
    </div>
</ul>

<body ng-app = "makeconference" ng-controller = "newCtrl">
<link href="/javascripts/lib/angular-motion-0.4.3.min.css" rel="stylesheet">
<link href="/javascripts/lib/bootstrap-additions-0.3.1.min.css" rel="stylesheet">
<script src="/javascripts/lib/jquery-2.1.4.min.js"></script>
<script src="/javascripts/lib/angular-animate-1.4.8.min.js"></script>
<script src="/javascripts/lib/angular-strap-2.3.6.min.js"></script>
<script src="/javascripts/lib/angular-strap-2.3.6.tpl.min.js"></script>
<link href="/javascripts/lib/bootstrap-additions-0.3.1.min.css" rel="stylesheet">

<div class="container">
    <form class="form-horizontal" role="form" name="myForm" ng-submit="submitForm()" ng-hide = "a">
        <h3>Make a  Conference</h3><br/>

        <div class="form-group">
            <label class="col-sm-3 control-label">Title</label>
            <div class="col-sm-9">
                <input name="Title" ng-model="Conference.Title" ng-minlength="5"  required placeholder="Title" class="form-control" autofocus>
                <span ng-show="myForm.Title.$dirty && myForm.Title.$invalid ">Minimum 5 digit length require.</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Conference Time</label>
            <div class="col-sm-9">
                <input type="time" name="Time" ng-model = "Conference.Time" required  class="form-control">
                <span ng-show="myForm.Time.$invalid && myForm.Time.$dirty      ">Minimum 5 digit length require.</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Street</label>
            <div class="col-sm-9">
                <input type = "text" name= "Street" ng-model="Conference.Street" required placeholder="Street" class="form-control">
                <span ng-show="myForm.Street.$invalid && myForm.Street.$dirty">Minimum 5 digit length require.</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Category</label>
            <div class="col-sm-9">
                <input type = "text" name= "Category" ng-model="Conference.Category" required class="form-control" placeholder="Category">
                <span ng-show=" myForm.Category.$dirty && myForm.Category.$invalid">Minimum 5 digit length require.</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Sub Category 1</label>
            <div class="col-sm-9">
                <input type = "text" name= "SubCategory1" ng-model="Conference.SubCategory1.Name" required ng-minlength="5" class="form-control" placeholder="Sub Category 1">
                <span ng-show=" myForm.SubCategory1.$dirty && myForm.SubCategory1.$invalid">Minimum 5 digit length require.</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Sub Category 2</label>
            <div class="col-sm-9">
                <input type = "text" name= "SubCategory2" ng-model="Conference.SubCategory2.Name" required ng-minlength="5" class="form-control" placeholder="Sub Category 2">
                <span ng-show=" myForm.SubCategory2.$dirty && myForm.SubCategory2.$invalid">Minimum 5 digit length require.</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">City</label>
            <div class="col-sm-9">

                <select ng-model="Conference.City" ng-options="x for x in City" class="form-control" name ='City'>
                    <span ng-show="myForm.City.$dirty && myForm.City.$invalid ">Minimum 5 digit length require.</span>
                    <option value="">Please choose City</option>
                </select>

            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Country</label>
            <div class="col-sm-9">

                <select ng-model="Conference.Country" ng-options="x for x in Country" class="form-control" name = 'Country'>
                    <span ng-show="myForm.Country.$dirty && myForm.Country.$invalid ">Minimum 5 digit length require.</span>
                    <option value="">Please choose Country</option>
                </select>

            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Last day of submission</label>
            <div class="col-sm-9">

                <input type="date" name="Time" ng-model = "Conference.LastTime" required class="form-control">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-9 col-sm-offset-3">
                <button type="submit" class="btn btn-primary"   >Submit </button>

            </div>
        </div>
    </form>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/core.js"></script>
</body>
</html>