<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <title>Bootstrap Case</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="/javascripts/lib/angular-motion-0.4.3.min.css" rel="stylesheet">
    <link href="/javascripts/lib/bootstrap-additions-0.3.1.min.css" rel="stylesheet">
    <script src="/javascripts/lib/jquery-2.1.4.min.js"></script>
    <script src="/javascripts/lib/angular-animate-1.4.8.min.js"></script>
    <script src="/javascripts/lib/angular-strap-2.3.6.min.js"></script>
    <script src="/javascripts/lib/angular-strap-2.3.6.tpl.min.js"></script>
    <link href="/javascripts/lib/angular-motion-0.4.3.min.css" rel="stylesheet">
    <link href="/javascripts/lib/bootstrap-additions-0.3.1.min.css" rel="stylesheet">
    <script src = '/javascripts/lib/angular-socket-io/socket.js'></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src = '/components/Chat/chat.js'></script>
</head>
<body ng-app = 'Chat' ng-controller = 'ChatController' ng-init = 'rajat()'>

<div >
    <br>
    <div class = 'col-xs-4'>
        <h2>OnLine Users</h2>
        <li ng-repeat = 'user in users'>
            <span class = 'message'>{{user.username}}</span>
        </li>
                </div>
    <div class = 'col-xs-6' >
        <div class = 'jumbotron'>
                <ul>
                    <li ng-repeat = 'data in messages'>
                       <span class = 'message'>{{data.message.message}} ({{data.message.username}})</span>
                    </li>
                </ul>
    </div>

</div>
    </div>
<br>
<br>
<div class = 'col-xs-8'>
    <form class = 'form-horizontal'>
        <div class = 'form-group'>
            <div class = 'col-sm-8'>
                <input type = 'text' class = 'form-control' id = 'chatInput' ng-model = 'msg'>
            </div>
            <div class = 'col-sm-2'>
                <button type="submit" ng-click = 'sendMessage(msg)' class = 'btn btn-primary'> Send Message</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>