div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <h4 class = 'text-center'style="color: green">Enter Chat Credentials</h4>
        <h4 style="color: red">{{res}}</h4>

        <div class="modal-body" >

            <div class = 'row'>
                <form class = 'form' name = 'chatForm'>
                    <div class = 'form-group'>
                      <h4 class = 'col-sm-8'>Email</h4>
                        <div class = 'col-sm-8'>
                            <input type = 'text' class = 'form-control' id = 'chatInput' ng-model = 'user.Email' required>

                        </div>
                        <h4 class = 'col-sm-8'>Password</h4>
                        <div class = 'col-sm-8'>
                            <input type = 'text' class = 'form-control' id = 'chatInput' ng-model = 'user.Password' required>

                        </div>




                        <div class = 'col-sm-8'>
                            <button type="submit" ng-click = 'verifyPassword(user)' class = 'btn btn-primary' ng-disabled="chatForm.$invalid"> Send Message</button>
                        </div>
                    </div>

                </form>
        </div>

    </div>
</div>
</div>