<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <h4 class = 'text-center'style="color: green">Your Review</h4>
            <div class="modal-body" >
                <h2> Review {{review[0].Acceptance}}</h2>
                <h2>Acceptance{{review[0].Acceptance}} </h2>
                <h2> Strong Points ={{review[0].StrongPoints}}</h2>
                <h2>Weal Points ={{review[0].WeakPoints}}</h2>
                <h2> Summary = {{review[0].Summary}}</h2>
                <h2> {{review[0].Comments}}</h2>


            </div>

        </div>
    </div>
</div>