<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
</head>



<body ng-app = "registerform" ng-controller = "maincontroller">

<h1>Admin</h1>

<h3 ng-hide="b"> {{c}} Request Updated</h3>


<br>
</br>

<table border="1" ng-show = "a">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Role</th>
        <th>Country</th>
        <th>City</th>
        <th>Status</th>
        <th>Update</th>
    </tr>
    <tr ng-repeat = "i in contact">
        <td>{{i.Name}}</td>
        <td>{{i.Email}}</td>
        <td>{{i.Phone}}</td>
        <td> <label ng-if ='i.Author == true'> Author </label> <input ng-if ='i.Author == true' type ='checkbox' ng-model ='i.Author'>  <label ng-if ='i.Reviewer == true'> Reviewer </label> <input ng-if ='i.Reviewer == true' type ='checkbox' ng-model ='i.Reviewer'>  <label ng-if ='i.Chair == true'> Chair </label> <input ng-if ='i.Chair == true'type ='checkbox' ng-model ='i.Chair'>      </td>                          </td>
        <td>{{i.Address.Country}}</td>
        <td>{{i.Address.City}}</td>
        <td>Reject<input type = "radio" ng-model = "i.Status" value = "Reject"> <span> Accept<input type = "radio" ng-model = "i.Status" value = "Accept"> </span></td>
        <td><button type = "button" ng-click = "update(i)"> update</button></td>
    </tr>


</table>
<form name="myForm" ng-submit="submitForm()" ng-hide = "a">


    <p>Email:
        <input type = "email" name= "Email" ng-model="Admin.Email">
        <span ng-show="myForm.Email.$invalid">Minimum 5 digit length require.</span>
    </p>

    <p>Password:
        <input type = "password" name= "Password" ng-model="Admin.Password" required ng-minlength="5" >
        <span ng-show=" myForm.Password.$dirty && myForm.Password.$invalid">Minimum 5 digit length require.</span>
    </p>


    <button type="submit" class="btn btn-primary" ng-disabled="myForm.$invalid">Submit </button>




</form>


<script>
    var app = angular.module('registerform', []);
    app.controller('maincontroller', function($scope, $http) {

        $scope.Admin = {};
        $scope.b = true;

        $scope.submitForm = function() {
            console.log($scope.Login);



            var responsePromise = $http.post("http://localhost:3500/allusers", $scope.Admin, {});
            responsePromise.success(function(dataFromServer, status, headers, config) {
                $scope.contact = dataFromServer;
                $scope.a = true;
            });
            responsePromise.error(function(data, status, headers, config) {
                alert("Submitting form failed!");
            });

            $scope.update = function(i){


                var responsePromise = $http.post("http://localhost:3500/admin/update", i, {});
                responsePromise.success(function(dataFromServer, status, headers, config) {
                    $scope.contact = dataFromServer;
                    $scope.a = true;
                    $scope.b = false;
                    $scope.c = i.Name;


                });
                responsePromise.error(function(data, status, headers, config) {
                    alert("Submitting form failed!");
                });

            }



        }


    });



</script>

</form>


</body>
</html>